@model IEnumerable<BIZ.BIZDocumento>
@using TFITest4.Resources


<script type="text/javascript">
    tipoUserGroup = document.getElementById('LoginExiste').getAttribute("data-val");
    console.log(tipoUserGroup);
    if (tipoUserGroup != "Comercial" && tipoUserGroup != "Administrador") {
        window.location = "/Login/Error"
    }
</script>

@section headSection {
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />
    <script src="~/Scripts/moment.min.js"></script>
}

<h2 class="titulo">Facturar</h2>



<table id="" class="tabla table tableJquery table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>NR
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEmision)
            </th>
            @*<th class="transparente"></th>*@
            <th>@Language.monto</th>
            <th>@Language.estado
            </th>
            <th>@Language.empresa
            </th>
            <th>@Language.action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDDocumento)
                </td>
                <td>
                    @item.FechaEmision.ToString("dd/MMM/yyyy HH:mm")
                </td>
                @*  <td class="SignoPesos">$</td>
                <td class="tdNumero">
                    <span class="MontoPrePedido">@item.Monto.ToString().Replace(",", ".")</span>
                </td>*@
                <td class="valor valor1">@item.Monto.ToString().Replace(",", ".")</td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoMisc.Detalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.ClienteEmpresa.Nombre)
                </td>

                <td>
                    <p>
                        <button data-val="@item.IDDocumento"  value=""  class="PreFacturarPedido btn btn-success btn-sm" >@Language.facturar</button>
                        @Html.ActionLink(@Language.Imprimir, "PedidoPDF", new { NrPedido = item.IDDocumento }, new { @class = "btn btn-primary btn-sm", @style = "color:white" })
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>




@*modal*@


<div class="modal fade" id="FactModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">@Language.facturar Fecha fact</h3>
            </div>
            <div class="modal-body" id="PedidoModalBody">
                <div class='input-group date' id='datetimepicker1'>
                    <input id="FechaFac" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="FacturarPedido btn btn-warning " data-dismiss="modal">@Language.confirmar</button>
                <button type="button" class="btn btn-default " data-dismiss="modal">@Language.cancelar</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->






@section EndScript{

    <script>
        //$(function () {
        PickerIdioma = "en";
        if ($('#ActualCulture').val() == "esp") {
            PickerIdioma = "es";
        }
        $('#datetimepicker1').datetimepicker({
            locale: PickerIdioma,
            format: 'YYYY-MM-DD',
            minDate: moment(),
            maxDate: moment().add(30, 'days')
            //pickTime: false 
        });
        //});
        var IDPedido;
        $('.PreFacturarPedido').click(function () {
            IDPedido = $(this).attr('data-val');
            $('#FactModal').modal('toggle');
        });


        $('.FacturarPedido').click(function () {
            pedidoNr = IDPedido;
            FechaFac = $('#FechaFac').val();
            mostrarGIF();
            var serviceURL = '@Url.Action("facturarPedido", "Pedido")';
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify({ Pedido: pedidoNr, fecha: FechaFac }),
                dataType: 'text',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    //console.log(data);
                    if (data.Result == "") {
                        //toastr["success"]("@Language.OKNormal", "OK!");
                       location.reload();
                   } else {
                       errorFunc;
                   }
               },
               error: errorFunc
           });
        });

    </script>

}


@section numerosScript{
var list = [];
            var list2 = [];

            $('.valor1').each(function () {
                list.push($(this).html())
            });
            var i = 0;
            $('.valor1').each(function () {
                list2 = accounting.formatColumn(list, "$       ");
                $(this).html(list2[i]);
                i++;
            })
}