@model IEnumerable<BIZ.BIZProducto>
@using TFITest4.Resources;

@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="~/Content/Pedido.css" rel="stylesheet" />
</head>




<h2>Pedido</h2>

<div id="cart" style="display: none">
    <h1 class="ui-widget-header">Shopping Cart</h1>
    <div class="ui-widget-content">
        <ol>
            <span class="glyphicon glyphicon-shopping-cart" style="font-size: 68px;"></span>
            <li class="placeholder">Add your items here</li>
        </ol>
    </div>
</div>

<table id="tableJqueryPedido" class="table table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            @*            <th>
                @Html.DisplayNameFor(model => model.IDProducto)
            </th>*@
            <th>Producto
                @*@Html.DisplayNameFor(model => model.Nombre)*@
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.ProductoCategoria.Detalle)
            </th>*@
            @*            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th colspan="2" style="width:100px;">
                @Html.DisplayNameFor(model => model.PrecioActual)
            </th>
            <th>Cantidad
            </th>

            @*        <th>
            @Html.DisplayNameFor(model => model.UnidadMedida)
        </th>*@
            <th style="width: auto">Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            @*            <th>
                @Html.DisplayNameFor(model => model.IDProducto)
            </th>*@
            <th>Producto
                @*@Html.DisplayNameFor(model => model.Nombre)*@
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.ProductoCategoria.Detalle)
            </th>*@
            @*            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th colspan="2" style="width:100px;">
                @Html.DisplayNameFor(model => model.PrecioActual)
            </th>
            <th>Cantidad
            </th>
            <th style="width: auto">Actions</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.IDProducto">

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ProductoCategoria.Detalle)
                </td>*@
                @*                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>*@
                <td>
                    @*@Html.DisplayFor(modelItem => item.Imagen)*@
                    <a class="fancybox" href="@item.Imagen">
                        <img class="PImage" src="@item.Imagen" alt="" /></a>
                </td>
                <td class="SignoPesos">$</td>
                <td class="tdNumero"><span class="MontoPrePedido">@item.PrecioActual.ToString().Replace(",",".")</span>
                </td>
                <td>
                    <input style="width: 100%;" type="number" min="0" max="100" placeholder="cantidad" />
                </td>
                @*        <td>
            @Html.DisplayFor(modelItem => item.UnidadMedida)
        </td>*@
                <td>
                    <p>
                        <button class="agregar btn btn-primary btn-sm" >Agregar</button>
                        <button class="borrar btn btn-danger btn-sm" >Borrar</button>
                    </p>
@*                    <a href="#" class="agregar">Agregar</a>
                    <a href="#" class="borrar">Borrar</a>*@
                </td>
            </tr>
        }
    </tbody>

</table>







@section EndScript{



    <script type="text/javascript">


        $(function () {
            $('#tableJqueryPedido img').draggable({
                appendTo: "body",
                helper: "clone",
                start: function () {
                    $('#cart').show("blind");
                },
                stop: function () {
                    $('#cart').hide("blind");
                }

            });
            $("#cart ol").droppable({
                activeClass: "ui-state-default",
                hoverClass: "ui-state-hover",
                accept: ":not(.ui-sortable-helper)",
                drop: function (event, ui) {
                    id = ui.draggable.closest('tr').attr('id');
                    cantidad = ui.draggable.closest('tr').find('td').eq(3).children().val()
                    ui.draggable.closest('tr').find('td').eq(3).children().val('');
                    if (cantidad == "") {
                        cantidad = 1;
                    }
                    var DatosPedido = { id: id, cantidad: cantidad }
                    executeAjaxPedido(DatosPedido);

                }
            }).sortable({
                items: "li:not(.placeholder)",
                sort: function () {
                    // gets added unintentionally by droppable interacting with sortable
                    // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
                    $(this).removeClass("ui-state-default");

                }
            });
        });


        function executeAjaxPedido(datos) {
            console.log("executeAjaxPedido");
            var dataToSend = datos;
            var serviceURL = '@Url.Action("PedidoAjax2", "Pedido")';
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify(dataToSend),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc2
            });
            //comento successFunc y errorFunc de aca porque uso las de Layout asi no repito
            function successFunc2(data, status) {
                console.log("success2");
                console.log(data);
                list = data.Productos;
                $('#NrPrePedido').text(data.IDDocumento);
                var subt = 0;
                var count = 0;
                $('#carritoModal table > tbody').html('');
                list.forEach(function (elem) {
                    console.log(elem.id + " " + elem.Nombre + " " + elem.Cant + " " + elem.Precio);
                    subt += (elem.Precio * elem.Cant);
                    thisSubtotal = (elem.Precio * elem.Cant);
                    $('#carritoModal table > tbody').append('<tr><td>' + elem.Nombre + '</td><td>' + elem.Cant + '</td><td>$' + elem.Precio + '</td><td>$' + thisSubtotal + '</td></tr>');
                });
                $('#PostDiv').html('<h4 class="text-right">Subtotal= $' + subt + '</h4><h4 class="text-right">Total= $' + subt * 1.21 + '</h4>');
                $('.CarritoSubtotal').html("$ " + subt);
                if (subt == 0) {
                    $('#popover_content_wrapper').find("p:first").html("Carrito Vacio");
                } else {
                    $('#popover_content_wrapper').find("p:first").html("");
                }
            }

            function errorFunc2() {
                //alert('error');
                toastr["error"]("Please log in again", "Error")
            }
        }



        $(document).ready(function () {

            toastr["info"]("You can drag and drop item images to add it to the cart!", "Psss")

            $(".fancybox").fancybox({
                openEffect: 'elastic',
                closeEffect: 'elastic',
                nextEffect: 'fade',
                padding: 0,
                closeBtn: false,

            });

            $('#tableJqueryPedido').DataTable({
                "oLanguage": {
                    "sSearch": "@Language.FiltrarTabla"
                }
            });


           @* var serviceURL = '@Url.Action("GetInit", "Pedido")';
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFuncInit,
                error: errorFuncInit
            });*@

            function successFuncInit(data, status) {
                //console.log(data);
                list = data;
                var subt = 0;
                $('#carritoModal table > tbody').html('');
                list.forEach(function (elem) {
                    //console.log(elem.id + " " + elem.Nombre + " " + elem.Cant + " " + elem.Precio);
                    subt += (elem.Precio * elem.Cant);
                    thisSubtotal = (elem.Precio * elem.Cant);
                    $('#carritoModal table > tbody').append('<tr><td>' + elem.Nombre + '</td><td>' + elem.Cant + '</td><td>' + elem.Precio + '</td><td>' + thisSubtotal + '</td></tr>');
                });


                $('#PostDiv').html('<h4 class="text-right">Subtotal= $' + subt + '</h4><h4 class="text-right">Total= $' + subt * 1.21 + '</h4>');
                $('.CarritoSubtotal').html("$ " + subt);


            }

            function errorFuncInit() {
                //alert('error');
                toastr["error"]("Please log in again", "Error")
            }


        });

        var list;

        $('.agregar').click(function () {
            var id = $(this).closest('tr').attr('id');
            var cantidad = $(this).closest('tr').find('td').eq(4).children().val()
            console.log(id + " " + cantidad);
            $(this).closest('tr').find('td').eq(4).children().val('');
            if (cantidad == 0) {
                cantidad = 1;
            }
            var DatosPedido = { id: id, cantidad: cantidad }
            executeAjaxPedido(DatosPedido);

        });
        $('.borrar').click(function () {
            var id = $(this).closest('tr').attr('id');
            var cantidad = $(this).closest('tr').find('td').eq(4).children().val()
            console.log(id + " " + cantidad);
            $(this).closest('tr').find('td').eq(4).children().val('');
            if (cantidad == 0) {
                cantidad = 1;
            }
            cantidad *= -1;
            var DatosPedido = { id: id, cantidad: cantidad }
            executeAjaxPedido(DatosPedido);
        });
    </script>

    @*jquery UI*@
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
}