@model IEnumerable<BIZ.BIZDocumento>
@using TFITest4.Resources
@{
    ViewBag.Title = "Pedidos";
}

@section headSection {
    <link href="~/Content/simptip.min.css" rel="stylesheet" />
}

<h2>Pedidos - @ViewBag.Empresa</h2>


<table id="" class="table tableJquery table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>NR
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEmision)
            </th>
            <th>
                <span class="simptip-position-top simptip-movable simptip-info" data-tooltip="Fecha Ultima modificacion">FUM</span>
            </th>
            <th class="transparente"></th>
            <th style="width: 100px;">
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>Estado
            </th>
            <th>Usuario Creacion
            </th>
            <th><span class="simptip-position-top simptip-movable simptip-info" data-tooltip="Usuario Ultima modificacion">UUM</span>
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEmision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaUltimaModificacion)
                </td>
                <td class="SignoPesos">$</td>
                <td class="tdNumero">
                    <span class="MontoPrePedido">@item.Monto.ToString().Replace(",", ".")</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoMisc.Detalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario1.Nombre)
                </td>
                <td>
                    <p>
                        <button data-val="@item.IDDocumento"  value=""  class="VerPedidos btn btn-success btn-sm" >ver</button>
                        <button data-val="@item.IDDocumento"  value=""  class="CargarPedidos btn btn-primary btn-sm" >Imprimir</button>
                        @{if (item.EstadoMisc.Detalle != "Facturado")
                          {
                            <button data-val="@item.IDDocumento"  value=""  class="DescartarPrePedido btn btn-danger btn-sm" >Cancelar</button>
                          }
                        }
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>



<div class="modal fade" id="PedidoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Pedido</h3>
                <span class="field-validation-error" id="TextoCarritoPedidoModal"></span>
            </div>
            <div class="modal-body" id="PedidoModalBody">
                <h5 class="text-center">Pedido nr# <span id="NrPedido"></span></h5>
                <table class="table table-striped">
                    <thead id="tblHead">
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th colspan="2">Unit Price</th>
                            <th colspan="2">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="form-group">
                    <div id="PedidoDiv">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section EndScript{

    <script>
        //.attr('data-val') 
        $('.VerPedidos').click(function () {
            mostrarGIF();
            //var dataToSend = { CargarPedidoViejo: "juan" }
            var serviceURL = '@Url.Action("VerPedido", "Pedido")';
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify({ Pedido: $(this).attr('data-val') }),
                dataType: 'text',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    //toastr["success"]("@Language.OKNormal", "Success!")
                    console.log(data);
                    //location.reload();
                    list = data.Pedido.Productos;
                    IVA = $('#IvaCliente').val().substring(2);
                    IVACalc = parseFloat($('#IvaCliente').val().replace(',', '.'));
                    //console.log("lista:");
                    console.log(list);
                    $('#NrPedido').text(data.Pedido.IDDocumento);
                    var subt = 0;
                    var count = 0;
                    $('#PedidoModalBody table > thead').html('<th>@Language.producto</th><th>@Language.cantidad</th><th colspan="2">@Language.precioUnitario</th><th colspan="2">@Language.TotalProducto</th>');
                    $('#PedidoModalBody table > tbody').html('');
                    list.forEach(function (elem) {
                        //console.log(elem.id + " " + elem.Nombre + " " + elem.Cant + " " + elem.Precio);
                        subt += (elem.Precio * elem.Cant);
                        thisSubtotal = (elem.Precio * elem.Cant);
                        $('#PedidoModalBody table > tbody').append('<tr><td>' + elem.Nombre + '</td><td class="numero">' + elem.Cant + '</td><td>$</td><td class="numero">' + elem.Precio.format(2, 3, '.', ',') + '</td><td>$</td><td class="numero">' + thisSubtotal.format(2, 3, '.', ',') + '</td></tr>');
                    });
                    $('#PedidoDiv').html('<h4 class="text-right">Subtotal= $ ' + subt.format(2, 3, '.', ',') + '</h4><h4 class="text-right">IVA Cliente= ' + IVA + '% </h4><h4 class="text-right">Total= $ ' + (subt * IVACalc).format(2, 3, '.', ',') + '</h4>');
                    //$('.CarritoSubtotal').html("$" + subt.format(2, 3, '.', ','));
                    $('#PedidoModal').modal('toggle');
                },
                error: function (status) {
                    toastr["error"]("@Language.ErrorLogInAgain", "Error")
                },
                complete: ocultarGIF
            });

            

        });


            //$(document).ready(function () {
            //    $('.MontoPrePedido').each(function (index) {
            //        esto = $(this).text();

            //        $(this).text("$"+ parseFloat(esto).format(2, 3, '.', ','))
            //    });
            //});
    </script>
}