@model IEnumerable<BIZ.BIZDocumento>
@using TFITest4.Resources
@{
    ViewBag.Title = "Pedidos";
}

@section headSection {
    <link href="~/Content/simptip.min.css" rel="stylesheet" />
    <link href="~/Content/Pedido.css" rel="stylesheet" />
}

<script type="text/javascript">
    if (document.getElementById('LoginExiste').getAttribute("data-val") != "Externo") {
        window.location = "/Login/Error"
    }
</script>
<div>
    <h2 class="titulo">@Language.pedido - @ViewBag.Empresa</h2>
</div>

<table id="" class="table tableJquery table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>NR
            </th>
            <th>
                @Language.fechaEmision
            </th>
            <th>
                <span class="simptip-position-top simptip-movable simptip-info" data-tooltip="@Language.FUM">FUM</span>
            </th>
            <th class="transparente"></th>
            <th >
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>@Language.estado
            </th>
            <th>@Language.usuarioCreacion
            </th>
            <th><span class="simptip-position-top simptip-movable simptip-info" data-tooltip="@Language.UUM">UUM</span>
            </th>
            <th>@Language.action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="@item.EstadoMisc.Detalle">
                <td>
                    @Html.DisplayFor(modelItem => item.IDDocumento)
                </td>
                <td>
                    @*@item.FechaEmision.ToString("MM/dd/yyyy HH:mm")*@
                    @item.FechaEmision.ToString("dd/MMM/yyyy HH:mm")
                </td>
                <td>
                    @*@item.FechaUltimaModificacion.ToString("MM/dd/yyyy HH:mm")*@
                    @item.FechaUltimaModificacion.ToString("dd/MMM/yyyy HH:mm")
                </td>
                <td class="SignoPesos">$</td>
                <td class="tdNumero">
                    <span class="MontoPrePedido">@item.Monto.ToString().Replace(",", ".")</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoMisc.Detalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario1.Nombre)
                </td>
                <td>
                    <p>
                        <button data-val="@item.IDDocumento"  value=""  class="VerPedidos btn btn-success btn-sm" >@Language.ver</button>
                        @Html.ActionLink(@Language.Imprimir, "PedidoPDF", new { NrPedido = item.IDDocumento }, new { @class = "btn btn-primary btn-sm", @style = "color:white" })
                        @{if (item.EstadoMisc.Detalle != "Facturado" && item.EstadoMisc.Detalle != "Rechazado" && item.EstadoMisc.Detalle != "Cancelado")
                          {
                            <button data-val="@item.IDDocumento"  value=""  class="DescartarPedido btn btn-danger btn-sm" >@Language.cancelar</button>
                          }
                        }
                        @{if (item.EstadoMisc.Detalle == "Facturado")
                          {
                            @Html.ActionLink(@Language.factura, "ImprimirFactura", new { Factura = item.IDDocumentoRef }, new { @class = "btn btn-warning btn-sm", @style = "color:white" })
                          }
                              
                        }
                    </p>
                </td>
            </tr>
        }

    </tbody>
</table>



<div class="modal fade" id="PedidoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">@Language.pedido</h3>
                <span class="field-validation-error" id="TextoCarritoPedidoModal"></span>
            </div>
            <div class="modal-body" id="PedidoModalBody">
                <h5 class="text-center">@Language.pedido nr# <span id="NrPedido"></span></h5>
                <h5 class="text-center">@Language.estado: <span id="EstadoPedido"></span></h5>
                <h5 class="text-center">Comentario: <span id="ComentarioPedido"></span></h5>
                <table class="table table-striped">
                    <thead id="tblHead">
                        <tr>
                            <th>@Language.producto</th>
                            <th>@Language.cantidad</th>
                            <th>@Language.precioUnitario</th>
                            <th>@Language.TotalProducto</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="form-group">
                    <div id="PedidoDiv">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal">@Language.cerrar</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
    

<script>

    $(document).ready(function () {

        urlDTLang = "";
        if ($('#ActualCulture').val() == "esp") {
            //urlDTLang = '/Scripts/Spanish.json';
            urlDTLang = 'http://cdn.datatables.net/plug-ins/1.10.9/i18n/Spanish.json';
        }

        try {
            $('.tableJquery2').DataTable();
           // tabla = $('.tableJquery2').DataTable();

        } catch (err) { console.log("dt is not perfect") }
    });
</script>
@section EndScript{

    <script>
        //.attr('data-val') 
        $('.VerPedidos').click(function () {
            mostrarGIF();
            //var dataToSend = { CargarPedidoViejo: "juan" }
            var serviceURL = '@Url.Action("VerPedido", "Pedido")';
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify({ Pedido: $(this).attr('data-val') }),
                dataType: 'text',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    //toastr["success"]("@Language.OKNormal", "Success!")
                    console.log(data);
                    //location.reload();
                    list = data.Pedido.Productos;
                    IVA = $('#IvaCliente').val();
                    IVACalc = parseFloat($('#IvaCliente').val());
                    //console.log("lista:");
                    console.log(list);
                    $('#NrPedido').text(data.Pedido.IDDocumento);
                    $('#EstadoPedido').text(data.Pedido.estado);
                    $('#ComentarioPedido').text(data.Pedido.comentario);
                    var subt = 0;
                    var count = 0;
                    $('#PedidoModalBody table > thead').html('<th>@Language.producto</th><th>@Language.cantidad</th><th>@Language.precioUnitario</th><th>@Language.TotalProducto</th>');
                    $('#PedidoModalBody table > tbody').html('');
                    list.forEach(function (elem) {
                        //console.log(elem.id + " " + elem.Nombre + " " + elem.Cant + " " + elem.Precio);
                        subt += (elem.Precio * elem.Cant);
                        thisSubtotal = (elem.Precio * elem.Cant);
                        $('#PedidoModalBody table > tbody').append('<tr><td>' + elem.Nombre + '</td><td class="numero">' + elem.Cant + '</td><td class="numero">' + accounting.formatMoney(elem.Precio) + '</td><td class="numero">' + accounting.formatMoney(thisSubtotal) + '</td></tr>');
                    });
                    //$('#PedidoDiv').html('<h4 class="text-right">Subtotal= ' + accounting.formatMoney(subt) + '</h4><h4 class="text-right">IVA Cliente= ' + IVA + '% </h4><h4 class="text-right">Total=  ' + accounting.formatMoney((subt + (subt * IVACalc / 100))) + '</h4>');
                    $('#PedidoDiv').html('<table class="cartTable"><tr><th >Subtotal</th><td> $' + subt.format(2, 3, '.', ',') + '</td></tr><tr><th>IVA Cliente</th><td>' + IVA + '% ($' + (subt * IVACalc / 100).format(2, 3, '.', ',') + ')</td></tr><tr><th>Total</th><td>$' + (subt + (subt * IVACalc / 100)).format(2, 3, '.', ',') + '</td></tr>');
                    //$('.CarritoSubtotal').html("$" + subt.format(2, 3, '.', ','));
                    $('#PedidoModal').modal('toggle');
                },
                error: function (status) {
                    errorFunc;
                },
                complete: ocultarGIF
            });



        });


        $('.DescartarPedido').click(function () {
            descID = $(this).attr('data-val')
            $.confirm({
                confirm: function () {
                    mostrarGIF();
                    //var dataToSend = { CargarPedidoViejo: "juan" }
                    var serviceURL = '@Url.Action("CancelarPedido", "Pedido")';
                    $.ajax({
                        type: "POST",
                        url: serviceURL,
                        data: JSON.stringify({ Pedido: descID }),
                        dataType: 'text',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data, status) {
                            if (data.Result == "") {
                                location.reload();
                            } else {
                                errorFunc;
                                ocultarGIF();
                            }
                        },
                        error: function (status) {
                            errorFunc;
                            ocultarGIF();
                        }
                    });
                },
                cancel: function () {
                    toastr["info"]("@Language.operacionCancelada")
                }
            });
        });


        //$(document).ready(function () {
        //    $('.MontoPrePedido').each(function (index) {
        //        esto = $(this).text();

        //        $(this).text("$"+ parseFloat(esto).format(2, 3, '.', ','))
        //    });
        //});
    </script>
}