@model TFITest4.Models.ModelProducto
@using TFITest4.Resources

<script type="text/javascript">
    tipoUserGroup = document.getElementById('LoginExiste').getAttribute("data-val");
    console.log(tipoUserGroup);
    if (tipoUserGroup != "Comercial" && tipoUserGroup != "Administrador") {
        window.location = "/Login/Error"
    }
</script>


<h2 class="titulo">@Language.crear</h2>

@using (Html.BeginForm("Create", "producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Language.producto</legend>
        <table class="table table-bordered table-striped" cellspacing="0" width="100%">

            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Nombre)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.Nombre)
                    @Html.ValidationMessageFor(model => model.Nombre)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.IDProductoCategoria, "ProductoCategoria")
                </td>
                <td class="editor-field">
                    @Html.DropDownList("IDProductoCategoria")
                    @Html.ValidationMessageFor(model => model.IDProductoCategoria)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Descripcion)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.Descripcion)
                    @Html.ValidationMessageFor(model => model.Descripcion)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Imagen)
                </td>
                <td class="editor-field">
                        <input type="file" id="file" name="file" />
                        <span class="field-validation-error" id="spanfile"></span>
@*                    @Html.EditorFor(model => model.Imagen)
                    @Html.ValidationMessageFor(model => model.Imagen)*@
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.EstadoMisc, "EstadoMisc")
                </td>
                <td class="editor-field">
                    @Html.DropDownList("IDEstado")
                    @Html.ValidationMessageFor(model => model.EstadoMisc.Detalle)
                </td>
            </tr>
            @*        <div class="editor-label">
            @Html.LabelFor(model => model.CostoActual)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CostoActual)
            @Html.ValidationMessageFor(model => model.CostoActual)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CostoContable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CostoContable)
            @Html.ValidationMessageFor(model => model.CostoContable)
        </div>*@

        </table>
        <p>
            <input id="btnCreate" class="btn btn-primary" type="submit" value="@Language.crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@Language.volver, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section endScript {

    <script type="text/javascript">

        $("#btnCreate").click(function () {
            if ($('#file').val() == "") {
                $("#spanfile").html("Upload");
                return false;
            }
            else {
                return checkfile();
            }
        });

        //get file size
        function GetFileSize(fileid) {
            console.log(fileid);
            console.log($("#" + fileid)[0].files[0].size)
            try {
                var fileSize = 0;
                //for IE //lo saco por ahora
                //if ($.browser.msie) {
                //    //before making an object of ActiveXObject, 
                //    //please make sure ActiveX is enabled in your IE browser
                //    var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
                //    var objFile = objFSO.getFile(filePath);
                //    var fileSize = objFile.size; //size in kb
                //    fileSize = fileSize / 1048576; //size in mb 
                //}
                    //for FF, Safari, Opeara and Others
                ////else {
                    fileSize = $("#" + fileid)[0].files[0].size //size in kb
                    fileSize = fileSize / 1048576; //size in mb 
                ////}
                return fileSize;
            }
            catch (e) {
               //alert("error javascript" + e);
                toastr["error"]("Error JS "+ e, "Error")
            }
        }

        //get file path from client system
        function getNameFromPath(strFilepath) {
            var objRE = new RegExp(/([^\/\\]+)$/);
            var strName = objRE.exec(strFilepath);

            if (strName == null) {
                return null;
            }
            else {
                return strName[0];
            }
        }

        function checkfile() {
            var file = getNameFromPath($("#file").val());
            if (file != null) {
                var extension = file.substr((file.lastIndexOf('.') + 1));
                // alert(extension);
                switch (extension) {
                    case 'jpg':
                    case 'JPG':
                    case 'jpeg':
                    case 'JPEG':
                    case 'png':
                    case 'gif':
//                    case 'pdf':
                        flag = true;
                        break;
                    default:
                        flag = false;
                }
            }
            if (flag == false) {
                $("#spanfile").text("error extención");
                return false;
            }
            else {
                var size = GetFileSize('file');
                if (size > 3) {
                    $("#spanfile").text("Error tamaño");
                    return false;
                }
                else {
                    $("#spanfile").text("");
                }
            }
        }

            $("#file").change(function () {
                console.log("Check");
                checkfile();
            });
    </script>
}