@model IEnumerable<TFITest4.Models.ModelLocalidad>
@using TFITest4.Resources

<script type="text/javascript">
    tipoUserGroup = document.getElementById('LoginExiste').getAttribute("data-val");
    console.log(tipoUserGroup);
    if (tipoUserGroup != "Comercial" && tipoUserGroup != "Administrador") {
        window.location = "/Login/Error"
    }
</script>

<h2 class="titulo"></h2>

<p>
    @Html.ActionLink("Create New", @Language.crear)
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoPostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDLocalidad }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDLocalidad }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDLocalidad })
        </td>
    </tr>
}

</table>
