@model TFITest4.Models.ModelListaPrecio

@{
    ViewBag.Title = "Create";
}

@section headSection {
      <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
        <fieldset>
        <legend>ModelListaPrecio</legend>
    <table class="table table-bordered table-striped" cellspacing="0" width="100%">
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Detalle)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Detalle)
            @Html.ValidationMessageFor(model => model.Detalle)
        </td>
        </tr>
        <tr>    
        <td class="editor-label">
            @Html.LabelFor(model => model.FechaDesde)
        </td>
        <td class="editor-field">
@*            @Html.EditorFor(model => model.FechaDesde)*@
            @Html.ValidationMessageFor(model => model.FechaDesde)
                <div class='input-group date' id='datetimepicker1'>
                    <input name="FechaDesde" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
         </td>
        </tr>

    <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Activo)
        </td>
        <td class="editor-field">
            <select name="Activo">
                <option value="true">True</option>
                <option value="False">False</option>
            </select>
            @*            @Html.EditorFor(model => model.Activo)
            @Html.ValidationMessageFor(model => model.Activo)*@
        </td>
        </tr>
                    </table>

        <p>
            <input type="submit" value="Create" />
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section EndScript {



}