@model IEnumerable<TFITest4.Models.ModelListaPrecio>
@using TFITest4.Resources;


<script type="text/javascript">
    tipoUserGroup = document.getElementById('LoginExiste').getAttribute("data-val");
    console.log(tipoUserGroup);
    if (tipoUserGroup != "Comercial" && tipoUserGroup != "Administrador") {
        window.location = "/Login/Error"
    }
</script>

@section headSection {
      <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />
}
<div class="container">

<h2 class="titulo">@Language.listaPrecios</h2>

<p>
    @Html.ActionLink(@Language.nuevo, "Create", new { }, new { @class = "btn btn-primary", @style = "color:white" })
</p>
<table class="table tableJquery table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @TFITest4.Resources.Language.action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalle)
                </td>
                <td>
                    @item.FechaDesde.ToString("dd/MMM/yyyy HH:mm")
                </td>

                <td>
                    @*@Html.DisplayFor(modelItem => item.Activo)*@
                    @item.Activo
                </td>
                <td>
                    <button data-val="@item.IDListaPrecio"  value=""  class="VerDetalles btn btn-info " >@Language.ver</button>
                    @Html.ActionLink(@Language.editar, "Edit", new { id = item.IDListaPrecio }, new { @class = "btn btn-primary", @style = "color:white" })
                    <button data-val="@item.IDListaPrecio"  value=""  class="CopyListaPrecio btn btn-success " >@Language.copiar</button>

                </td>
            </tr>
        }
    </tbody>
</table>
    </div>


<div class="modal fade" id="ModalPrecio">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title"></h3>
                <span class="field-validation-error" id="TextoCarritoPedido"></span>
            </div>
            <div class="modal-body" id="ModalPrecioBody">
                <h5 class="text-center"></h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Detalle</th>
                                <th>Fecha Desde</th>
                                <th>Factor de multiplicación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" id="CopiaText" required /></td>
                                <td style="width: 40%;">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input name="FechaDesde" type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <input type="number" id="CopiaFactor" step="0.1" value="1" required /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            </div>

            <div class="modal-footer">
                <button id="copiarPrecio" type="button" class="btn btn-success">@Language.copiar</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->






<div class="modal fade" id="ModalDetalle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">title</h3>
            </div>
            <div class="modal-body" id="ModalDetalleBody">
                <h5 class="text-center"></h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>@Language.producto</th>
                                <th>@Language.estado</th>
                                <th>@Language.precio</th>
                                <th>@Language.action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div class="form-group">
                        <div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            </div>

            <div class="modal-footer">
                 <a id="" role="button"  href="/PrecioDetalle/Create" class="btn btn-primary">@Language.nuevo</a>
                <button id="" type="button"  data-dismiss="modal" class="btn btn-warning">@Language.cerrar</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


@section EndScript{
    <script type="text/javascript">
        var IDLista;
        $('.CopyListaPrecio').click(function () {
            IDLista = $(this).attr('data-val');
            $('#ModalPrecio').modal('toggle');
        });


        $('#copiarPrecio').click(function () {
            //console.log(IDPedido);
            CopiaText = $('#CopiaText').val();
            CopiaFactor = $('#CopiaFactor').val();
            FechaDesde = $('#datetimepicker1 input').val();
            mostrarGIF();
            //var dataToSend = { CargarPedidoViejo: "juan" }
            var serviceURL = '@Url.Action("CopiarLista", "ListaPrecio")';
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify({ IDLista: IDLista, CopiaText: CopiaText, CopiaFactor: CopiaFactor, FechaDesde: FechaDesde }),
                dataType: 'text',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    if (data.Result == "") {
                        window.location.reload();
                        toastr["success"]("@Language.OKNormal", "OK!")
                    } else {
                        errorFunc;
                    }
                },
                error: errorFunc,
                complete: ocultarGIF
            });
        });




        //ver detalles acá
        var IDListaPrecio
        $('.VerDetalles')
        .click(function () {
            IDListaPrecio = $(this).attr('data-val');
            mostrarGIF();
            //var dataToSend = { CargarPedidoViejo: "juan" }
            var serviceURL = '@Url.Action("DetallesLista", "PrecioDetalle")';
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify({ IDLista: IDListaPrecio }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    //console.log(data);
                    $('#ModalDetalle .modal-title').html(data.Detalle);
                    $('#ModalDetalle .modal-body table > tbody').html("");
                    data.detalles.forEach(function (elem) {
                        //console.log(elem);
                        cuerpo = "<tr><td>" + elem.Producto + "</td><td>" + elem.Estado + "</td><td style='text-align:right;' class='valor valor1'>" + elem.Precio + "</td><td><a class='btn btn-xs btn-success' role='button' href=/PrecioDetalle/Edit/" + elem.IDPrecioDetalle + ">@Language.editar</a></td></tr>"
                        $('#ModalDetalle .modal-body table > tbody').append(cuerpo);
                    });
                    //if (data.Result == "") {
                    // pongo lindo los precios
                    var list = [];
                    var list2 = [];

                    $('.valor1').each(function () {
                        list.push($(this).html())
                    });
                    var i = 0;
                    $('.valor1').each(function () {
                        list2 = accounting.formatColumn(list, "$     ");
                        console.log(list2);
                        $(this).html(list2[i]);
                        i++;
                    })



                     $('#ModalDetalle').modal('toggle');
                    //} else {
                    //    errorFunc;
                    //}
                },
                error: function (status) 
                {
                    console.log(status);//errorFunc(),
                },
                complete: ocultarGIF
            });
            //$('#ModalDetalle').modal('toggle');
        });



    </script>
}