@model IEnumerable<TFITest4.Models.ModelListaPrecio>
@using TFITest4.Resources;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(@Language.nuevo, "Create", new {}, new { @class = "btn btn-primary", @style = "color:white" })
</p>
<table class="table tableJquery table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @TFITest4.Resources.Language.action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDesde)
                </td>
                
                <td>
                    @*@Html.DisplayFor(modelItem => item.Activo)*@
                    @item.Activo
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDListaPrecio }, new { @class = "btn btn-primary", @style = "color:white" })
                   <button data-val="@item.IDListaPrecio"  value=""  class="CopyListaPrecio btn btn-success " >Copy</button>

                </td>
            </tr>
        }
    </tbody>
</table>
