@model BIZ.BIZProvincia
@using TFITest4.Resources

@{
    ViewBag.Title = "Edit";
}

<h2>@Language.editar</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
           @Html.HiddenFor(model => model.IDProvincia)

        <table class="table table-bordered table-striped" cellspacing="0" width="100%">
            <tr>
         <td>
            @Html.LabelFor(model => model.Nombre)
        </td>
        <td>
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </td>
            <tr>
         <td>
                    @Html.LabelFor(model => model.IDPais, "Pais")
                </td>
                <td>
                    @Html.DropDownList("IDPais")
                    @Html.ValidationMessageFor(model => model.IDPais)
                </td>
            </tr>
         </table>
        <p>
            <input type="submit" class="btn btn-primary crearEditar"  value="@Language.guardar" />
            @Html.ActionLink(@Language.cancelar, "Index", new {}, new { @class = "btn btn-success volver", @style = "color:white" }) 
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
