@model TFITest4.Models.ModelClienteEmpresa
@using TFITest4.Resources

<div class="container">

<h2 class="titulo">@Language.editar</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Language.clientes</legend>
        @Html.HiddenFor(Model => Model.IDClienteEmpresa)
        @Html.HiddenFor(Model => Model.Direccion.IDDireccion)
        @Html.HiddenFor(Model => Model.FechaAlta)
        <table class="table  table-bordered table-striped" cellspacing="0" width="100%">
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </td>
        </tr><tr>    
        <td class="editor-label">
            @Html.LabelFor(model => model.IDEstado)
        </td>
        <td class="editor-field">
            @Html.DropDownList("IDEstado", String.Empty)
            @Html.ValidationMessageFor(model => model.IDEstado)
        </td>
        </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Limite)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Limite)
            @Html.ValidationMessageFor(model => model.Limite)
        </td>
        </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.CUIT)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.CUIT)
            @Html.ValidationMessageFor(model => model.CUIT)
        </td>
        </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.RazonSocial)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.RazonSocial)
            @Html.ValidationMessageFor(model => model.RazonSocial)
        </td>
        </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.NombreFantasia)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.NombreFantasia)
            @Html.ValidationMessageFor(model => model.NombreFantasia)
        </td>
        </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.IDTipoIVA)
        </td>
        <td class="editor-field">
            @Html.DropDownList("IDTipoIVA", String.Empty)
            @Html.ValidationMessageFor(model => model.IDTipoIVA)
        </td>
        </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.IDLocalidad)
        </td>
        <td class="editor-field">
            @Html.DropDownList("IDLocalidad")
            @Html.ValidationMessageFor(model => model.IDLocalidad)
        </td>
        </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Calle)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Direccion.Calle)
            @Html.ValidationMessageFor(model => model.Direccion)
        </td>
        </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Numero)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Direccion.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
        </td>
        </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Piso)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Direccion.Piso)
            @Html.ValidationMessageFor(model => model.Piso)
        </td>
        </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Dpto)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Direccion.Dpto)
            @Html.ValidationMessageFor(model => model.Dpto)
        </td>
        </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Detalle)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Direccion.Detalle)
            @Html.ValidationMessageFor(model => model.Detalle)
        </td>
        </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Telefono)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Telefono)
            @Html.ValidationMessageFor(model => model.Telefono)
        </td>
        </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Email)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </td>
            </tr>
            </table>
        <br />
        <p>
            <input type="submit" class="btn btn-primary" value="@Language.editar" />
            @Html.ActionLink(@Language.volver, "Index", new {}, new { @class = "btn btn-success", @style = "color:white" }) 

        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


</div>