@model IEnumerable<TFITest4.Models.ModelClienteEmpresa>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    if (document.getElementById('LoginExiste').getAttribute("data-val") != "Administrador") {
        window.location = "/Login/Error"
    }
</script>


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary", @style = "color:white" })
</p>
<table class="table tableJquery table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoMisc.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaUltimaOperacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUIT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDDireccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDTipoIVA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.IDClienteEmpresa)
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoMisc.Detalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAlta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaUltimaOperacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Limite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CUIT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreFantasia)
                </td>
                <td>
                    <a class="fancybox-media" href="http://maps.google.com/maps?q=@item.Direccion.Calle+@item.Direccion.Numero+@item.Direccion.Localidad.Nombre+@item.Direccion.Localidad.Provincia.Nombre+@item.Direccion.Localidad.Provincia.Pais.Nombre&t=h&z=17">
                        @Html.DisplayFor(modelItem => item.Direccion.Calle)
                        @Html.DisplayFor(modelItem => item.Direccion.Numero)
                        @Html.DisplayFor(modelItem => item.Direccion.Localidad.Nombre)
                    </a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                 <td>
                    <span>@item.TipoIVA.Detalle - </span><span>@item.TipoIVA.Valor.ToString().Substring(2, @item.TipoIVA.Valor.ToString().Length-2)%</span>
                     @*@Html.DisplayFor(modelItem => item.TipoIVA.Detalle)*@
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDClienteEmpresa }, new { @class = "btn btn-primary", @style = "color:white" })
                </td>
            </tr>
        }
    </tbody>
</table>


@section endScript {

    <script>
        //para google maps. Tal vez convenga ponerlo solo donde lo vamos a usar

        $('.fancybox-media').fancybox({
            openEffect: 'elastic',
            closeEffect: 'elastic',
            helpers: {
                media: {}
            }
        });
    </script>
}