@model TFITest4.Models.ModelPrecioDetalle
@using TFITest4.Resources

<script type="text/javascript">
    tipoUserGroup = document.getElementById('LoginExiste').getAttribute("data-val");
    console.log(tipoUserGroup);
    if (tipoUserGroup != "Comercial" && tipoUserGroup != "Administrador") {
        retURLErr = window.location.pathname + window.location.search;
        retURLErr = retURLErr.replace(/[/]/g, "%2f")
        window.location = "/Login/Error?ReturnUrl=" + retURLErr;
    }
</script>

<h2 class="titulo">@Language.crear</h2>

@using (Html.BeginForm()) {
    
    <fieldset>
        <legend>@Language.listaDetalle</legend>
        <table class="table table-bordered">
            <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.IDListaPrecio)
        </td>
        <td class="editor-field">
            @Html.DropDownList("IDListaPrecio", String.Empty)
            @Html.ValidationMessageFor(model => model.IDListaPrecio)
        </td>
            </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.IDProducto)
        </td>
        <td class="editor-field">
            @Html.DropDownList("IDProducto", String.Empty)
            @Html.ValidationMessageFor(model => model.IDProducto)
        </td>
            </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Precio)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Precio)
            @Html.ValidationMessageFor(model => model.Precio)
        </td>    
            </tr><tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Activo)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Activo)
            @Html.ValidationMessageFor(model => model.Activo)
        </td>
         </tr>
        
        </table>
            <div>
            <input type="submit" class="btn btn-primary" value="@Language.crear" />
            @Html.ActionLink(@Language.volver, "Index", new {}, new { @class = "btn btn-warning", @style = "color:white" })
    
        </div>
    </fieldset>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<script>
    $('#Precio').on('change keypress', function (e) {
        $('#Precio').val($('#Precio').val().replace(/,/g, '.'))
    });
    
</script>