@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes

<link href="~/content/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<div class="modal-dialog">
    <div class="modal-content">


        @Html.Partial("_alerts")
        @Html.Partial("_validationSummary")
        @RenderSection("featured", required: false)
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
  <script type="text/javascript" src="~/Scripts/hideShowPassword.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function () {
          $('#Password').hideShowPassword({
              innerToggle: true
          });

      });
    </script>


      <hr>
@*        <footer>
            <p>&copy; IID @System.DateTime.Now.ToString("yyyy")</p>
        </footer>*@

    </div>
</div>