@using TFITest4.Code52.i18n
@using TFITest4.Resources
@using System.Web.Optimization


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/ico" href="~/Content/images/Logo.ico"">
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/Code52.i18n/Code52.i18n.css")" rel="stylesheet" type="text/css" />
@*    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/general.css" rel="stylesheet" type="text/css" />
    @RenderSection("headSection", false)
</head>
<body>
    <div id="preload">
        <img src="~/content/images/loader.gif" alt="Load Image" />
    </div>


    @Html.Partial("~/Views/Shared/Menu.cshtml")


    @if (TempData["ErrorNormal"] != null && TempData["ErrorNormal"] != String.Empty)
    {
        ViewBag.AlertError = TempData["ErrorNormal"];
    }
    @if (TempData["OKNormal"] != null && TempData["OKNormal"] != String.Empty)
    {
        ViewBag.AlertOK = TempData["OKNormal"];
    }


    @if (ViewBag.AlertError != null && ViewBag.AlertError != String.Empty)
    {                
        @*
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @ViewBag.AlertError
        </div>*@
        
        <input id="AlertError" type="hidden" value="@ViewBag.AlertError" />
    }

    @if (ViewBag.AlertOk != null && ViewBag.AlertOk != String.Empty)
    {           
             
        @*<div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @ViewBag.AlertOk
        </div>*@
        
        <input id="AlertOk" type="hidden" value="@ViewBag.AlertOK" />
    }


    <div style="width:98%; padding: 0px 1%;">
    @RenderBody()
    </div>

        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
                    <div class="oculto" id="LoginImgLoader" >
                     <img src="~/Content/images/loader2.gif" />
                    </div>
				  <form onsubmit="return false;" id="FormLogin" class="form col-md-12 center-block">
                    <span class="mal"></span>
					<input type="text" id="UserName" name="UserName" placeholder="@Language.NombreUsuario" autofocus required>
					<input type="password" class="login-field login-field-password" id="LoginPassword" placeholder='@Language.Password' name="Password" required>
                    <input type="submit" id="loginModal" name="login" class="login loginmodal-submit" value="Login">
				  </form>
					
				  <div class="login-help">
					<a href="/Account/RegisterOut">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>

    
<div class="modal fade" id="myModal">
<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title">Shopping Cart</h3>
        </div>
        <div class="modal-body" id="carritoModal">
		  <h5 class="text-center">Your shopping cart nr# <span id="NrPrePedido"></span></h5>
          <table class="table table-striped" >
            <thead id="tblHead">
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th colspan="2">Unit Price</th>
                <th colspan="2">Total Price</th>
              </tr>
            </thead>
            <tbody>
             
            </tbody>
          </table>
          <div class="form-group">
            <div id="PostDiv">
            </div>            <div class="clearfix"></div>
          </div>
		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
          <button id="SaveCarritoPrePedido" type="button" class="btn btn-primary">Save Changes</button>
          <button id="NuevoCarrito" type="button" class="btn btn-warning">New Carrito</button>
          <button id="SubmitPedido" type="button" class="btn btn-success">Submit Pedido</button>
        </div>
				
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<a href="#0" class="cd-top">Top</a>

   

    @Html.ValidationSummary(true)

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)

    


    @*FancyBox*@

    <!-- Add jQuery library -->
    <script type="text/javascript" src="~/fancyapps-fancyBox-18d1712/lib/jquery-1.10.1.min.js"></script>

    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="~/fancyapps-fancyBox-18d1712/lib/jquery.mousewheel-3.0.6.pack.js"></script>

    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="~/fancyapps-fancyBox-18d1712/source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="~/fancyapps-fancyBox-18d1712/source/jquery.fancybox.css?v=2.1.5" media="screen" />

    <!-- Add Button helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="~/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
    <script type="text/javascript" src="~/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

    <!-- Add Thumbnail helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="~/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
    <script type="text/javascript" src="~/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

    <!-- Add Media helper (this is optional) -->
    <script type="text/javascript" src="~/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    @*tabla*@
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Scripts/buttons.flash.min.js"></script>



    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/hideShowPassword.min.js"></script>
    <script type="text/javascript" src="~/Scripts/toastr.min.js"></script>


   @* <link href="~/Content/flavr/css/animate.css" rel="stylesheet" />
    <link href="~/Content/flavr/css/flavr.css" rel="stylesheet" />
    <script type="text/javascript" src="~/scripts/flavr.min.js"></script>
    <script>

        var Loginhtml =
                '   <div class="form-row">' +
                '       <input type="text" name="username" ' +
                '       placeholder="Username" />' +
                '   </div>' +
                '   <div class="form-row">' +
                '       <input type="password" name="password" ' +
                '       placeholder="Password" />' +
                '   </div>' +
                '   <div class="form-row">' +
                '       <input type="checkbox" name="remember" ' +
                '       id="check"/>' +
                '       <label for="check">Remember me</label>' +
                '   </div>';

        new $.flavr({
            title: 'Form',
            iconPath: 'Content/flavr/images/icons/',
            icon: 'email.png',
            content: 'HTML form example',
            dialog: 'form',
            form: { content: Loginhtml, method: 'post' },
            onSubmit: function ($container, $form) {

                var User = values.substr(values.indexOf("&") - 1)
                var Pass = values.substr(values.indexOf("&") + 1)
                var MyUser = User.substr(User.indexOf("="))
                var MyPass = Pass.substr(Pass.indexOf("=") +1)
                alert(User + " " + Pass);


                 return false;

            }
        });

    </script>*@

    @if (Session["usuario"] != null)
    {
        <input id="LoginExiste" type="hidden" value="1" />   
    }
    else
    {
        <input id="LoginExiste" type="hidden" value="0" />   
    }


     <script>
         // con esto controlo el tema de q si va para atras no pueda ver las cosas y no aparezca el usuario logueado
         if ($('#nombre_usuario').attr('data-val') != 'Invitado') {
             console.log("dif from invitado");
             $.ajax({
                 cache: false,
                 type: 'post',
                 url: "/Login/ControlSesion",
                 data: $(this).serialize(),
                 dataType: "json",
                 success: function (response) {
                     if (response.Result == "NO") {
                         document.location.href = "/Login/CerrarSesion";
                     }
                 }
             });
         }
    </script>
    <script type="text/javascript">

        //number format
        Number.prototype.format = function (n, x, s, c) {
            var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
                num = this.toFixed(Math.max(0, ~~n));

            return (c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','));
        };
        //number format end
        //mostrar sacar gif
        var ocultarGIF = function () {
            $('#preload').addClass("oculto");
        }
        var mostrarGIF = function () {
            $('#preload').removeClass("oculto");
        }
        //mostrar sacar gif

        function GetInit() {
            var serviceURL = '@Url.Action("GetInit", "Pedido")';
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
        }


        function successFunc(data, status) {
            console.log("success general");
            list = data.Productos;
            //console.log("lista:");
            //console.log(list);
            $('#NrPrePedido').text(data.IDDocumento);
            var subt = 0;
            var count = 0;
            $('#carritoModal table > tbody').html('');
            list.forEach(function (elem) {
                //console.log(elem.id + " " + elem.Nombre + " " + elem.Cant + " " + elem.Precio);
                subt += (elem.Precio * elem.Cant);
                thisSubtotal = (elem.Precio * elem.Cant);
                $('#carritoModal table > tbody').append('<tr><td>' + elem.Nombre + '</td><td class="numero">' + elem.Cant + '</td><td>$</td><td class="numero">' + elem.Precio.format(2, 3, '.', ',') + '</td><td>$</td><td class="numero">' + thisSubtotal.format(2, 3, '.', ',') + '</td></tr>');
            });
            $('#PostDiv').html('<h4 class="text-right">Subtotal= $' + subt.format(2, 3, '.', ',') + '</h4><h4 class="text-right">Total= $' + (subt * 1.21).format(2, 3, '.', ',') + '</h4>');
            $('.CarritoSubtotal').html("$" + subt.format(2, 3, '.', ','));
            if (subt == 0) {
                $('#popover_content_wrapper').find("p:first").html("Carrito Vacio");
            } else {
                $('#popover_content_wrapper').find("p:first").html("");
            }
        }
        function errorFunc(status) {
            //alert('error ' + status);
            toastr["error"]("Please log in again", "Error")

        }


        function limpiarCarrito() {
            $('.popover').toggle();
            $.ajax({
                type: "POST",
                url: "/Pedido/LimpiarCarrito",
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    GetInit();
                    toastr["success"]("The Cart has been cleaned", "Success!")
                },
                error: function () {
                    toastr["error"]("Error while trying to clean the cart", "Error!")
                }
            });
        }

        function SaveCarritoPrePedido() {
            $.ajax({
                type: "POST",
                url: "/Pedido/GuardarCarrito",
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    GetInit();
                    toastr["success"]("The Cart has been saved", "Success!")
                },
                error: function () {
                    toastr["error"]("Error while trying to save the cart", "Error!")
                }
            });
        }

        function keepSessionAlive() {
            $.ajax({
                type: "POST",
                url: "/Login/keepAlive",
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    console.log("keepAlive ok..");
                },
                error: function () {
                    console.log("keepAlive failed..");
                }
            });
        }

        $(document).ready(function () {
            ok = $('#AlertOk').val();
            if (ok != undefined) { toastr["success"](ok, "Success") }
            if ($('#AlertError').val() != undefined) { toastr["error"]($('#AlertError').val(), "Error") }
            //para el carrito
            $('#cart-popover').popover({
                html: true,
                container: 'body',
                content: function () {
                    return $('#popover_content_wrapper').html();
                }
            });


            if ($('#LoginExiste').val() == 1) {
                $('#CarritoMenuBoton').removeClass('oculto');
                //traigo data de la sesion y lleno el "carrito"
                GetInit();
            }



            //para el login viejo
            //$('.fancybox-dany').fancybox(
            //    {
            //        padding: '0px',
            //        fitToView: true,
            //        preload: true,
            //        //autoSize: true,
            //        autoSize: true,
            //        height: 480,
            //        width: 500
            //    }
            //);

            @*            $('.mail').click(function () {
                console.log("primero");
                var serviceURL = '@Url.Action("AjaxRequest", "Home")';
            var dataToSend = { name: "juan" }
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify(dataToSend),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                console.log(data);
                console.log("bien");
            }
            function errorFunc(data, status) {
                console.log("mal");
                console.log(status);
            }

             })*@




            $(".editor-field input").addClass("form-control");
            $("table input").addClass("form-control");
            $('select').addClass("show-tick");
            $('select').attr("data-live-search", "true");
            $('select').selectpicker();

            $('#cart-popover').popover({
                html: true,
                container: 'body',
                content: function () {
                    return $('#popover_content_wrapper').html();
                }
            });

            $('.tableJquery').DataTable({
                "oLanguage": {
                    "sSearch": "@Language.FiltrarTabla"
                }//,
                //   dom: 'Bfrtip',
                //   buttons: [
                //{
                //    extend: 'colvis',
                //    collectionLayout: 'fixed two-column'
                //}
                //   ]
            });



            $('#login-modal').on('shown.bs.modal', function () {
                $('#UserName').focus();
            })
            $('#loginModal').click(function () {
                $('#login-modal span').text("");
                if ($('#UserName').val() == "" || $('#LoginPassword').val() == "") {
                    $('#FormLogin :input:visible[required="required"]').each(function () {
                        if (!this.validity.valid) {
                            $(this).focus();
                            // break
                            return false;
                        }
                    });
                    return false;
                }
                $('#LoginImgLoader').removeClass("oculto");
                $('#MainMenu').fadeTo("slow", 0.1);

                //var dataToSend = { UserName: $('#UserName').val(), Password: $('#LoginPassword').val() }
                var RetUrl = window.location.href.split('=%2f')[1];
                if (RetUrl) RetUrl = RetUrl.replace('%2f', '/');
                else RetUrl = "";
                $.ajax({
                    url: '/Login/MenuReload',
                    //data: JSON.stringify(dataToSend),
                    data: { UserName: $('#UserName').val(), Password: $('#LoginPassword').val() },
                    type: 'POST',
                    success: function (result) {
                        if (result.status == "error") {
                            $('#login-modal span').text("Please check Username or Password");
                            $('#MainMenu').fadeTo("slow", 1);
                        } else {
                            console.log("recargando ");
                            if (RetUrl != "") {
                                fullURL = window.location.href.split("/")[0] + "//" + window.location.href.split("/")[2] + "/" + RetUrl;
                                console.log(fullURL);
                                window.location = fullURL
                            }
                            $("#MainMenu").html(result);
                            $('#MainMenu').fadeTo("slow", 1);
                            $('#login-modal').modal('hide');
                            $('#CarritoMenuBoton').removeClass('oculto');
                            GetInit();
                            $('#cart-popover').popover({
                                html: true,
                                container: 'body',
                                content: function () {
                                    return $('#popover_content_wrapper').html();
                                }
                            });

                        }
                    },
                    error: function () {
                        $('#login-modal span').text("Please check Username or Password");
                    }
                });
                setTimeout(function () { $('#LoginImgLoader').addClass("oculto"); }, 100);
            })

            $('#NuevoCarrito').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Pedido/NuevoPrePedido",
                    data: param = "",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        GetInit();
                        toastr["success"]("Done!", "Success!")
                    },
                    error: function () {
                        toastr["error"]("@Language.ErrorLogInAgain", "Error!")
                    }
                });

            });


            $("#preload").addClass("oculto");
            //OJO veo si NO es IE
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");
            IEVersion = 13; //pongo 13 por si no es IE que tenga algo mayor que 9
            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))  {     // If Internet Explorer, return version number
                IEVersion = parseInt(ua.substring(msie + 5, ua.indexOf(".", msie)));
            }
            if ( (msie == -1) || (IEVersion < 10) ) {  
                $('#LoginPassword').hideShowPassword({
                    innerToggle: true
                });
            }
            //OJO
            $('.hideShowPassword-wrapper').css('width', '100%');
            $('.hideShowPassword-toggle').css('margin-top', '-25px');


            //BACK TO TOP
            //******************************************************//
            // browser window scroll (in pixels) after which the "back to top" link is shown
            var offset = 300,
                    //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
                    offset_opacity = 1200,
                    //duration of the top scrolling animation (in ms)
                    scroll_top_duration = 700,
                    //grab the "back to top" link
                    $back_to_top = $('.cd-top');

            //hide or show the "back to top" link
            $(window).scroll(function () {
                ($(this).scrollTop() > offset) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
                if ($(this).scrollTop() > offset_opacity) {
                    $back_to_top.addClass('cd-fade-out');
                }
            });

            //smooth scroll to top
            $back_to_top.on('click', function (event) {
                event.preventDefault();
                $('body,html').animate({
                    scrollTop: 0,
                }, scroll_top_duration
                );
            });
            //******************************************************//

            $('.MontoPrePedido').each(function (index) {
                esto = $(this).text();
                console.log(esto);
                $(this).text(parseFloat(esto).format(2, 3, '.', ','))
            });

            
            $(function () { window.setInterval("keepSessionAlive()", 600000); }); //10 min



        }); // END Document Ready

        $('body').on('click', '#LimpiarCarrito', function () {
            limpiarCarrito();
            $('#cart-popover').click()
        });
        $('body').on('click', '#SaveCarritoPrePedido', function () {
            SaveCarritoPrePedido(); //poner el evento con ajax
        });
        $('body').on('click', '#VerCarrito', function () {
            $('.popover').toggle();
            $('#myModal').modal('toggle');
            $('#cart-popover').click()
        });
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>


    @RenderSection("EndScript", false)


    @*Idiomas*@
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/globalize/globalize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script type="text/javascript" src="@Url.Content(string.Format("~/Scripts/globalize/cultures/globalize.culture.{0}.js", CultureHelper.GetCurrentCulture()))"></script>
    @if (CultureHelper.GetCurrentNeutralCulture() != "en")
    {
        //<script type="text/javascript" src="@String.Format("http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_{0}.js", CultureHelper.GetCurrentNeutralCulture())"></script>    
        <script type="text/javascript" src="~/Scripts/messages_es.js"></script>
    }
    <script type="text/javascript" src="@Url.Content("~/Scripts/Code52.i18n.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("/i18n/Code52.i18n.language.js")"></script>*@
    <script type="text/javascript">
        Code52.Language.Init('@CultureHelper.GetCurrentCulture()');    
    </script>






</body>
</html>
