@using TFITest4.Code52.i18n
@using TFITest4.Resources
@using System.Web.Optimization


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>IID</title>
    <link rel="icon" type="image/ico" href="~/Content/images/Logo.ico">
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/Code52.i18n/Code52.i18n.css")" rel="stylesheet" type="text/css" />
    @*    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/responsive.bootstrap.min.css" type="text/css" />

    <link href="~/Content/general.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" type="text/css" />

    @RenderSection("headSection", false)
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

</head>
<body>
    <div id="preload">
        @*<img src="~/content/images/loader.gif" alt="Load Image" />*@
        <div class="loader">Loading...</div>
    </div>



    @Html.Partial("~/Views/Shared/Menu.cshtml")


    @if (TempData["ErrorNormal"] != null && TempData["ErrorNormal"] != String.Empty)
    {
        ViewBag.AlertError = TempData["ErrorNormal"];
    }
    @if (TempData["OKNormal"] != null && TempData["OKNormal"] != String.Empty)
    {
        ViewBag.AlertOK = TempData["OKNormal"];
    }


    @if (ViewBag.AlertError != null && ViewBag.AlertError != String.Empty)
    {                
@*
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @ViewBag.AlertError
        </div>*@
        
        <input id="AlertError" type="hidden" value="@ViewBag.AlertError" />
    }

    @if (ViewBag.AlertOk != null && ViewBag.AlertOk != String.Empty)
    {           
             
@*<div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @ViewBag.AlertOk
        </div>*@
        
        <input id="AlertOk" type="hidden" value="@ViewBag.AlertOK" />
    }


    <div id="bodyRender" style="width: 98%; padding: 0px 1%;">
        @RenderBody()
    </div>

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>@Language.logIn</h1>
                <br>
                <div class="oculto" id="LoginImgLoader">
                    <img src="~/Content/images/loader2.gif" />
                </div>
                <form onsubmit="return false;" id="FormLogin" class="form col-md-12 center-block">
                    <span class="mal"></span>
                    <input type="text" id="UserName" name="UserName" placeholder="@Language.NombreUsuario" autofocus required>
                    <input type="password" class="login-field login-field-password" id="LoginPassword" placeholder='@Language.Password' name="Password" required>
                    <input type="submit" id="loginModal" name="login" class="btn login loginmodal-submit" value="@Language.ingresar">
                </form>

                <div class="login-help">
                    <a href="/Account/RegisterOut">@Language.registro</a> - <a href="/Login/ForgetPassword">@Language.olvidoPass</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">@Language.carrito</h3>
                    <span class="field-validation-error" id="TextoCarritoPedido"></span>
                </div>
                <div class="modal-body" id="carritoModal">
                    <h5 class="text-center">@Language.suCarrito nr# <span id="NrPrePedido"></span></h5>
                    <table class="table table-striped">
                        <thead id="tblHead">
                            <tr>
                                <th>@Language.producto</th>
                                <th>@Language.cantidad</th>
                                <th colspan="2">@Language.precioUnitario</th>
                                <th colspan="2">@Language.TotalProducto</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div id="PostDiv">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default " data-dismiss="modal">@Language.cerrar</button>
                    <button id="SaveCarritoPrePedido" type="button" class="btn btn-primary">@Language.guardar</button>
                    <button id="NuevoCarrito" type="button" class="btn btn-warning">@Language.nuevo @Language.carrito</button>
                    <button id="SubmitPedido" type="button" class="btn btn-success">@Language.enviar @Language.pedido</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <a href="#0" class="cd-top">Top</a>



    @Html.ValidationSummary(true)

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)




    @*FancyBox*@

    <!-- Add jQuery library -->
    <script type="text/javascript" src="~/fancyapps-fancyBox-18d1712/lib/jquery-1.10.1.min.js"></script>

    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="~/fancyapps-fancyBox-18d1712/lib/jquery.mousewheel-3.0.6.pack.js"></script>

    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="~/fancyapps-fancyBox-18d1712/source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="~/fancyapps-fancyBox-18d1712/source/jquery.fancybox.css?v=2.1.5" media="screen" />

    <!-- Add Button helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="~/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
    <script type="text/javascript" src="~/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

    <!-- Add Thumbnail helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="~/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
    <script type="text/javascript" src="~/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

    <!-- Add Media helper (this is optional) -->
    <script type="text/javascript" src="~/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    @*tabla*@
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Scripts/buttons.flash.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/plug-ins/1.10.9/sorting/datetime-moment.js"></script>

    <script src="http://jquery-datatables-column-filter.googlecode.com/svn/trunk/media/js/jquery.dataTables.columnFilter.js"></script>


    @*currency*@
    <script src="~/Scripts/accounting.min.js"></script>

    @*datetimepicker*@
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>



    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/hideShowPassword.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.confirm.min.js"></script>


    <input type="hidden" id="ActualCulture" value="@Language.Lenguaje" />
    <input type="hidden" id="IvaCliente" value="@ViewBag.IVA" />



    <script type="text/javascript">
        $.ajax({
            cache: false,
            type: 'post',
            url: "/Home/siempre",
            data: $(this).serialize(),
            dataType: "json",
            success: function (response) {
            }
        });
    </script>
    <script type="text/javascript">
        // con esto controlo el tema de q si va para atras no pueda ver las cosas y no aparezca el usuario logueado
        var controlSession = function () {
            if ($('#nombre_usuario').attr('data-val') != 'Invitado') {
                //console.log("dif from invitado");
                $('#bodyRender').hide()
                $.ajax({
                    cache: false,
                    type: 'post',
                    url: "/Login/ControlSesion",
                    data: $(this).serialize(),
                    dataType: "json",
                    success: function (response) {
                        //console.log(response);
                        if (response.Result == "NO") {
                            document.location.href = "/Login/CerrarSesion";
                        } else {
                            if (response.Pendientes != -1) {
                                $('.docPendientes a').append(" (" + response.Pendientes + ")");
                            }
                            // if (response.PendFact != -1) {
                            //    $('.facPendientes a').append(" (" + response.PendFact + ")");
                            //  }
                            $('#bodyRender').show()
                        }
                    }
                });
            }
        }
        controlSession();
    </script>
    <script type="text/javascript">





        //number format
        Number.prototype.format = function (n, x, s, c) {
            var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
                num = this.toFixed(Math.max(0, ~~n));

            return (c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','));
        };

        // Settings object that controls default parameters for library methods:
        accounting.settings = {
            currency: {
                symbol: "$",   // default currency symbol is '$'
                format: "%s%v", // controls output: %s = symbol, %v = value/number (can be object: see below)
                decimal: ",",  // decimal point separator
                thousand: ".",  // thousands separator
                precision: 2   // decimal places
            },
            number: {
                precision: 0,  // default precision on numbers is 0
                thousand: ",",
                decimal: "."
            }
        }

        $('.crearEditar').click(function () {
            window.onbeforeunload = null;
        });

        //number format end
        //mostrar sacar gif
        var ocultarGIF = function () {
            $('#preload').addClass("oculto");
        }
        var mostrarGIF = function () {
            $('#preload').removeClass("oculto");
        }
        //mostrar sacar gif


        // sppech

        function removeAcento(text) {
            var acentos = "ÃÀÁÄÂÈÉËÊÌÍÏÎÒÓÖÔÙÚÜÛãàáäâèéëêìíïîòóöôùúüûÑñÇç";
            var original = "AAAAAEEEEIIIIOOOOUUUUaaaaaeeeeiiiioooouuuunncc";
            for (var i = 0; i < acentos.length; i++) {
                text = text.replace(acentos.charAt(i), original.charAt(i));
            }
            return text;
        }

        if (!('webkitSpeechRecognition' in window)) {
            console.log('Your browser cannot support speech, bro.. upgrade...');
            $('#microfono').hide()
        } else {
            var recognition = new webkitSpeechRecognition();
            recognition.lang = "es-AR"
            recognition.onerror = function (event) {
                toastr["warning"]("No se pudo reconocer la voz", "info")
                $('#microfono').attr('src', '/Content/images/mic.gif');
            }
            recognition.onend = function () {
                $('#microfono').attr('src', '/Content/images/mic.gif');
            }
            recognition.onresult = function (e) {
                try {
                    $('#microfono').attr('src', '/Content/images/mic.gif');
                    for (var i = e.resultIndex; i < e.results.length; ++i) {
                        if (e.results[i].isFinal) {
                            //assert(e.results[i][0].transcript);
                            var tmpSpeech = removeAcento(e.results[i][0].transcript);
                            console.log(tmpSpeech);
                            if (tmpSpeech.toLowerCase() == "registrese") {
                                window.location = "/Account/RegisterOut";
                            }
                            var newLoc = "";
                            switch (tmpSpeech) {
                                case "registrese":
                                    newLoc = "/Account/RegisterOut";
                                    break;
                                case "iniciar":
                                case "iniciar sesion":
                                case "login":
                                    if (document.getElementById('nombre_usuario').getAttribute("data-val") == "Invitado")
                                        $('#login-modal').modal('show');
                                    break;
                                case "espanol":
                                case "spanish":
                                    $('.es-AR')[0].click()
                                    $('.es-AR')[0].click()
                                    break;
                                case "ingles":
                                case "english":
                                    $('.en-GB')[0].click()
                                    $('.en-GB')[0].click()
                                    break;
                                case "configuracion":
                                case "configuration":
                                    $('#configuracion').click();
                                    break;
                                case "comprar":
                                case "buy":
                                    if (document.getElementById('LoginExiste').getAttribute("data-val") == "Externo")
                                        newLoc = "/Pedido";
                                    break;
                                    //case "":
                                    //    newLoc = ""
                                    //    break;
                                default:
                                    toastr["warning"]("Comando '" + tmpSpeech + "' no reconocido", "info");
                            }
                            if (newLoc != "") {
                                window.location = newLoc;
                            }
                        }
                    }
                } catch (ex) {
                }
            }
        }






        function GetInit() {
            var serviceURL = '@Url.Action("GetInit", "Pedido")';
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
        }


        function successFunc(data, status) {
            try {
                list = data.ListCarrito.Productos;
                var PreIVA = data.rIVA;
                $('#NrPrePedido').text(data.ListCarrito.IDDocumento);
                var subt = 0;
                var count = 0;
                $('#carritoModal table > thead').html('<th>@Language.producto</th><th>@Language.cantidad</th><th colspan="2">@Language.precioUnitario</th><th colspan="2">@Language.TotalProducto</th>');
                $('#carritoModal table > tbody').html('');
                //console.log();
                list.forEach(function (elem) {
                    //console.log(elem.id + " " + elem.Nombre + " " + elem.Cant + " " + elem.Precio);
                    subt += (elem.Precio * elem.Cant);
                    thisSubtotal = (elem.Precio * elem.Cant);

                    $('#carritoModal table > tbody').append('<tr data-val="' + elem.id + '"><td>' + elem.Nombre + '</td><td class="numero">' + elem.Cant + '</td><td>$</td><td class="numero">' + elem.Precio.format(2, 3, '.', ',') + '</td><td>$</td><td class="numero">' + thisSubtotal.format(2, 3, '.', ',') + '</td><td><span class="glyphicon glyphicon-trash myTrash"></span></td></tr>');
                });
                if (subt == 0) {
                    $('#SubmitPedido').attr('disabled', 'disabled');
                    $('#SaveCarritoPrePedido').attr('disabled', 'disabled');
                    $('#LimpiarCarrito').attr('disabled', 'disabled');
                    $('#cart-popover').click()
                    $('#cart-popover').click()
                } else {
                    $('#SubmitPedido').removeAttr('disabled');
                    $('#SaveCarritoPrePedido').removeAttr('disabled');
                    $('#LimpiarCarrito').removeAttr('disabled');
                    $('#cart-popover').click()
                    $('#cart-popover').click()
                }
                IVA = PreIVA;
                IVACalc = parseFloat(PreIVA);
                //$('#PostDiv').html('<h4 class="text-right">Subtotal= $' + subt.format(2, 3, '.', ',') + '</h4><h4 class="text-right">IVA Cliente= ' + IVA + '% ($' + (subt * IVACalc / 100).format(2, 3, '.', ',') + ')</h4><h4 class="text-right"><h4 class="text-right">Total= $' + (subt + (subt * IVACalc / 100)).format(2, 3, '.', ',') + '</h4>');
                $('#PostDiv').html('<table class="cartTable"><tr><th >Subtotal</th><td> $' + subt.format(2, 3, '.', ',') + '</td></tr><tr><th>IVA Cliente</th><td>' + IVA + '% ($' + (subt * IVACalc / 100).format(2, 3, '.', ',') + ')</td></tr><tr><th>Total</th><td>$' + (subt + (subt * IVACalc / 100)).format(2, 3, '.', ',') + '</td></tr>');
                $('.CarritoSubtotal').html("$" + subt.format(2, 3, '.', ','));
                if (subt == 0) {
                    $('#popover_content_wrapper').find("p:first").html("@Language.carrito @Language.vacio");
            } else {
                $('#popover_content_wrapper').find("p:first").html("");
            }
        } catch (ex) {
            document.location.href = "/Login/CerrarSesion";
        }

    }
    function errorFunc(status) {
        //alert('error ' + status);
        toastr["error"]("@Language.ErrorLogInAgain", "Error")

    }

    var assert = function (info) {
        toastr["success"](info, "prueba")
    }

    function limpiarCarrito() {
        // if (confirm("@Language.confimarOperacion")) {
        $.confirm({
            confirm: function () {
                mostrarGIF();
                $('.popover').toggle();
                $.ajax({
                    type: "POST",
                    url: "/Pedido/LimpiarCarrito",
                    data: param = "",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        GetInit();
                        toastr["success"]("@Language.limpiarCarrito", "OK!")
                    },
                    error: function () {
                        toastr["error"]("@Language.ErrorNormal", "Error!")
                    },
                    complete: ocultarGIF
                });
            },
            cancel: function () {
                toastr["info"]("@Language.operacionCancelada")
            }
        });

        // } else {
        //     toastr["info"]("@Language.operacionCancelada")
        // }
    }

        function SaveCarritoPrePedido() {
            if ($('#carritoModal table > tbody tr').length > 0) {
                mostrarGIF();
                $.ajax({
                    type: "POST",
                    url: "/Pedido/GuardarCarrito",
                    data: param = "",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        GetInit();
                        toastr["success"]("@Language.guardarCarrito", "OK!")
                    },
                    error: function () {
                        toastr["error"]("@Language.ErrorNormal", "Error!")
                    },
                    complete: ocultarGIF
                });
            }
        }

        function keepSessionAlive() {
            $.ajax({
                type: "POST",
                url: "/Login/keepAlive",
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    console.log("keepAlive ok..");
                },
                error: function () {
                    console.log("keepAlive failed..");
                }
            });
        }
        var tabla;
        var form_modified = false;
        function confirmExit() {
            msg = "@Language.ConfimarCancelar";
            msg = $('<span/>').html(msg).text();
            return msg
        }
        $(document).ready(function () {
            ok = $('#AlertOk').val();
            if (ok != undefined) { toastr["success"](ok, "OK!") }
            if ($('#AlertError').val() != undefined) { toastr["error"]($('#AlertError').val(), "Error") }
            //para el carrito


            $('select').on('change', function () {
                form_modified = true;
                try {
                    volverExiste = $('.volver')[0]
                    if (volverExiste) {
                        window.onbeforeunload = confirmExit;
                        confirmExit();
                    }
                } catch (exception) { }
                console.log("change select");
            }); // take care of select tags

            $('input').on('change keypress', function () {
                form_modified = true;
                try {
                    volverExiste = $('.volver')[0]
                    if (volverExiste) {
                        window.onbeforeunload = confirmExit;
                        confirmExit();
                    }
                } catch (exception) { }
                console.log("change input");
            });


            //para la confirmación antes de volver.... Ya lo hago con el beforeUnload
               @* $('.volver').on('click', function () {
                    if (form_modified) {
                        msg = $('<span/>').html("@Language.ConfimarCancelar").text();
                        if (!confirm(msg)) { //ver tema idioma se ve feo en español
                            toastr["info"]("@Language.operacionCancelada")
                            return false;
                        }
                    }
                });*@


            $.confirm.options = {
                text: "@Language.confimarOperacion",
                    title: "",
                    confirmButton: "@Language.confirmar",
                    cancelButton: "@Language.cancelar",
                    post: false,
                    confirmButtonClass: "btn-primary",
                    cancelButtonClass: "btn-default",
                    dialogClass: "modal-dialog"
                }


            $('#cart-popover').popover({
                html: true,
                container: 'body',
                content: function () {
                    return $('#popover_content_wrapper').html();
                }
            });

            $('#microfono').click(function () {
                try {
                    recognition.start()
                    $('#microfono').attr('src', '/Content/images/mic-animate.gif');
                } catch (ex) { }
            });

            if ($('#LoginExiste').val() == 1) {
                //console.log($('#LoginExiste').attr("data-val"));
                if ($('#LoginExiste').attr("data-val") == "Externo") {
                    $('#CarritoMenuBoton').removeClass('oculto');
                    //traigo data de la sesion y lleno el "carrito"
                    GetInit();
                }
            }





            $(".editor-field input").addClass("form-control");
            $("table input").addClass("form-control");
            $("select option[value='']").remove()
            $('select').addClass("show-tick");
            $('select').attr("data-live-search", "true");
            $('select').selectpicker();

            $('#cart-popover').popover({
                html: true,
                container: 'body',
                content: function () {
                    return $('#popover_content_wrapper').html();
                }
            });



            //primero acomodo numeros antes de hacer lo de las tablas
                @RenderSection("numerosScript", false)



          



            $(function () {
                PickerIdioma = "en";
                if ($('#ActualCulture').val() == "esp") {
                    PickerIdioma = "es";
                }
                var dateNow = new Date();
                $('#datetimepicker1').datetimepicker({
                    locale: PickerIdioma,
                    format: 'YYYY-MM-DD HH:mm',
                    defaultDate: dateNow

                });
            });
            $('.tableJquery').on('draw.dt', function () {
                $('.transparente').removeClass('sorting')
            });
            $('.transparente').removeClass('sorting');
            var ttnewTitle = $('.titulo').html();
            if (typeof ttnewTitle != "undefined") {
                var tnewTitle = $('.titulo').html().split("");
                var newTitle = "";
                for (i = 0; i < tnewTitle.length ; i++) {
                    newTitle += "<span>" + tnewTitle[i] + "</span>";
                }
                $('.titulo').html(newTitle)
            }

            $('#login-modal').on('shown.bs.modal', function () {
                $('#UserName').focus();
            });

            $('#loginModal').click(function () {
                $('#login-modal span').text("");
                if ($('#UserName').val() == "" || $('#LoginPassword').val() == "") {
                    $('#FormLogin :input:visible[required="required"]').each(function () {
                        if (!this.validity.valid) {
                            $(this).focus();
                            // break
                            return false;
                        }
                    });
                    return false;
                }
                $('#loginModal').addClass("disabled in-progress");
                $('#loginModal').attr("disabled", "disabled");
                //$('#LoginImgLoader').removeClass("oculto");
                $('#MainMenu').fadeTo("slow", 0.1);

                //var dataToSend = { UserName: $('#UserName').val(), Password: $('#LoginPassword').val() }
                var RetUrl = window.location.href.split('=%2f')[1];
                if (RetUrl) RetUrl = RetUrl.replace('%2f', '/');
                else RetUrl = "";
                $.ajax({
                    url: '/Login/MenuReload',
                    //data: JSON.stringify(dataToSend),
                    data: { UserName: $('#UserName').val(), Password: $('#LoginPassword').val() },
                    type: 'POST',
                    success: function (result) {
                        console.log(result);
                        if (result.status == "error") {
                            $('#login-modal span').text(result.message);
                            $('#MainMenu').fadeTo("slow", 1);

                        } else {
                            //console.log("recargando ");
                            if (RetUrl != "") {
                                fullURL = window.location.href.split("/")[0] + "//" + window.location.href.split("/")[2] + "/" + RetUrl;
                                //console.log(fullURL);
                                window.location = fullURL
                            } else {
                                //if (window.location.pathname+window.location.search == /Login/Error
                                window.location = "/Home";
                            }
                            //$("#MainMenu").html(result);
                            //$('#MainMenu').fadeTo("slow", 1);
                            //$('#login-modal').modal('hide');
                            //if ($('#LoginExiste').attr("data-val") == "Externo") {
                            //   $('#CarritoMenuBoton').removeClass('oculto');
                            //}
                            //$('#CarritoMenuBoton').removeClass('oculto');
                            //GetInit();
                            //$('#cart-popover').popover({
                            //    html: true,
                            //    container: 'body',
                            //    content: function () {
                            //        return $('#popover_content_wrapper').html();
                            //    }
                            //});
                            //controlSession();
                        }
                    },
                    error: function () {
                        $('#login-modal span').text("@Language.errorLogueo");
                        },
                        complete: function () {
                            //$('#LoginImgLoader').addClass("oculto");
                            $('#loginModal').removeClass("disabled in-progress");
                            $('#loginModal').prop("disabled", false);

                        }
                    });

                })

            $('#NuevoCarrito').click(function () {
                $.confirm({
                    confirm: function () {


                        $.ajax({
                            type: "POST",
                            url: "/Pedido/NuevoPrePedido",
                            data: param = "",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function () {
                                GetInit();
                                toastr["success"]("@Language.OKNormal", "OK!");
                                },
                                error: function () {
                                    toastr["error"]("@Language.ErrorLogInAgain", "Error!")
                                },
                                complete: ocultarGIF
                            });
                        },
                        cancel: function () {
                            toastr["info"]("@Language.operacionCancelada")
                        }
                    });
                });

            $('#SubmitPedido').click(function () {
                $.confirm({
                    confirm: function () {
                        mostrarGIF();
                        $.ajax({
                            type: "POST",
                            url: "/Pedido/SubmitPedido",
                            data: param = "",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                console.log(data);
                                if (data.CarritoStock == "ir") {
                                    mostrarGIF();
                                    window.location = "/Pedido/Pedido";
                                }
                                if (data.devolver != "" && data.CarritoStock != "ir") {
                                    list = data.CarritoStock.Productos;
                                    $('#NrPrePedido').text(data.IDDocumento);
                                    var subt = 0;
                                    var count = 0;
                                    $('#carritoModal table > thead').html('<th>@Language.producto</th><th style="padding-right: 15px;">@Language.cantidad</th><th style="padding-right: 15px;">@Language.disponible</th><th colspan="2">@Language.precioUnitario</th><th colspan="2">@Language.TotalProducto</th>');
                                        $('#carritoModal table > thead')
                                        $('#carritoModal table > tbody').html('');
                                        list.forEach(function (elem) {
                                            //console.log(elem.id + " " + elem.Nombre + " " + elem.Cant + " " + elem.Precio);
                                            subt += (elem.Precio * elem.Cant);
                                            thisSubtotal = (elem.Precio * elem.Cant);
                                            NoStockClass = "SiStock"; blink = "";
                                            if (elem.Cant > elem.stock) { NoStockClass = "NoStock"; blink = "blink" }
                                            $('#carritoModal table > tbody').append('<tr  data-val="' + elem.id + '" class="' + blink + '"><td>' + elem.Nombre + '</td><td class="numero ' + NoStockClass + '">' + elem.Cant + '</td><td class="numero ElStock">' + elem.stock + '</td><td>$</td><td class="numero">' + elem.Precio.format(2, 3, '.', ',') + '</td><td>$</td><td class="numero">' + thisSubtotal.format(2, 3, '.', ',') + '</td><td><span class="glyphicon glyphicon-trash myTrash"></span></td></tr>');
                                        });
                                        setTimeout(function () { $('#carritoModal table > tbody .blink').removeClass('blink'); }, 3000);
                                        var PreIVA = IVA;
                                        IVA = PreIVA;
                                        IVACalc = parseFloat(PreIVA);

                                        //$('#PostDiv').html('<h4 class="text-right">Subtotal= $' + subt.format(2, 3, '.', ',') + '</h4><h4 class="text-right">IVA Cliente= ' + IVA + '% </h4><h4 class="text-right">Total= $' + (subt + (subt * IVACalc / 100)).format(2, 3, '.', ',') + '</h4>');
                                        $('#PostDiv').html('<table class="cartTable"><tr><th >Subtotal</th><td> $' + subt.format(2, 3, '.', ',') + '</td></tr><tr><th>IVA Cliente</th><td>' + IVA + '% ($' + (subt * IVACalc / 100).format(2, 3, '.', ',') + ')</td></tr><tr><th>Total</th><td>$' + (subt + (subt * IVACalc / 100)).format(2, 3, '.', ',') + '</td></tr>');
                                        $('.CarritoSubtotal').html("$" + subt.format(2, 3, '.', ','));
                                        if (subt == 0) {
                                            $('#popover_content_wrapper').find("p:first").html("@Language.carrito @Language.vacio");
                                        } else {
                                            $('#popover_content_wrapper').find("p:first").html("");
                                        }
                                        //$('#TextoCarritoPedido').text("No hay stock");
                                        //console.log(data);
                                        //$('#TextoCarritoPedido').text("No hay stock");
                                        //i = 0;
                                        //$('#carritoModal table > thead').find('tr').eq(0).append("<th>Quantity</th>")
                                        //$('#carritoModal table > tbody tr').each(function () {
                                        //    $(this).append("<td>" + data.CarritoStock.Productos[i].stock + "</td>");
                                        //    $(this).find('td').eq(1).each(function () {

                                        //        $(this).text(data.CarritoStock.Productos[i].Cant + " " + data.CarritoStock.Productos[i].stock);
                                        //        i++;
                                        //        //console.log($(this).find('td').eq(1).text())
                                        //    });
                                        //});
                                        ocultarGIF();
                                } else {
                                    toastr["success"](data.Result, "OK!")
                                }
                                },
                                error: function () {
                                    toastr["error"]("@Language.ErrorLogInAgain", "Error!")
                                    ocultarGIF();
                                }//,
                                //complete: ocultarGIF
                            });
                        },
                        cancel: function () {
                            toastr["info"]("@Language.operacionCancelada")
                        }
                    });
                });




            $("#preload").addClass("oculto");
            //OJO veo si NO es IE
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");
            IEVersion = 13; //pongo 13 por si no es IE que tenga algo mayor que 9
            //if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))  {     // If Internet Explorer, return version number
            if (!!navigator.userAgent.match(/Trident.*rv\:11\./)) {
                msie = 1
            }
            if (msie > 0) {
                IEVersion = parseInt(ua.substring(msie + 5, ua.indexOf(".", msie)));
            }
            if ((msie == -1) || (IEVersion < 10)) {
                $('#LoginPassword').hideShowPassword({
                    innerToggle: true
                });
            }
            //OJO
            $('.hideShowPassword-wrapper').css('width', '100%');
            $('.hideShowPassword-toggle').css('margin-top', '-25px');


            //BACK TO TOP
            //******************************************************//
            // browser window scroll (in pixels) after which the "back to top" link is shown
            var offset = 300,
                    //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
                    offset_opacity = 1200,
                    //duration of the top scrolling animation (in ms)
                    scroll_top_duration = 700,
                    //grab the "back to top" link
                    $back_to_top = $('.cd-top');

            //hide or show the "back to top" link
            $(window).scroll(function () {
                ($(this).scrollTop() > offset) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
                if ($(this).scrollTop() > offset_opacity) {
                    $back_to_top.addClass('cd-fade-out');
                }
            });

            //smooth scroll to top
            $back_to_top.on('click', function (event) {
                event.preventDefault();
                $('body,html').animate({
                    scrollTop: 0,
                }, scroll_top_duration
                );
            });
            //******************************************************//

            $('.MontoPrePedido').each(function (index) {
                esto = $(this).text();
                //console.log(esto);
                $(this).text(parseFloat(esto).format(2, 3, '.', ','))
            });

            var RemoveSomee = function () {
                var searchArray = ["Somee"];
                var found = $('a').filter(function (idx, elem) {
                    var html = $(elem).html();
                    for (var i = 0, l = searchArray.length; i < l; i++) {
                        if (html.indexOf(searchArray[i]) != -1) {
                            return true;
                        }
                    }
                    return false;
                }).css('display', 'none');
                $('div').filter(function () {
                    return $(this).css('z-index') > 10000;
                }).each(function () {
                    $(this).css('display', 'none');
                });
            }



            var urlDTLang = "";
            if ($('#ActualCulture').val() == "esp") {
                //urlDTLang = '/Scripts/Spanish.json';
                moment.locale('es');
                urlDTLang = 'http://cdn.datatables.net/plug-ins/1.10.9/i18n/Spanish.json';
            }
            try {
                $.fn.dataTable.moment('DD/MMM/YYYY HH:mm');
                setTimeout(function () {
                    tabla = $('.tableJquery').DataTable({
                        language: {
                            url: urlDTLang,
                        }
                    });
                    tabla2 = $('.tableJqueryFUM').DataTable({
                        language: {
                            url: urlDTLang,
                        },
                        "order": [[2, "desc"]]
                    });
                }, 1000);


            } catch (err) { console.log("dt is not perfect") }


            setTimeout(function () { RemoveSomee(); }, 3000);




            $(function () { window.setInterval("keepSessionAlive()", 600000); }); //10 min


                @RenderSection("readyEnding", false)
        }); // END Document Ready

        $('body').on('click', '#LimpiarCarrito', function () {
            limpiarCarrito();
            $('#cart-popover').click()
        });
        $('body').on('click', '#SaveCarritoPrePedido', function () {
            SaveCarritoPrePedido(); //poner el evento con ajax
        });
        $('body').on('click', '#VerCarrito', function () {
            $('.popover').toggle();
            $('#myModal').modal('toggle');
            $('#cart-popover').click()
        });
        $('body').on('click', '.myTrash', function () {
            esto = $(this);
            $.confirm({
                confirm: function () {
                    //if (confirm("@Language.confimarOperacion")) {
                    esto.closest('tr').hide("slow");
                    //console.log($(this));
                    mostrarGIF();
                    //console.log("executeAjaxPedido");
                    var id = esto.closest('tr').attr('data-val');
                    var cantidad = esto.closest('tr').find('td').eq(1).html();
                    //console.log(id);
                    console.log(cantidad);
                    var cantidad = parseInt(cantidad);
                    cantidad *= -1;
                    console.log(cantidad);
                    var dataToSend = { id: id, Cantidad: cantidad }
                    var serviceURL = '@Url.Action("PedidoAjax2", "Pedido")';
                    $.ajax({
                        type: "POST",
                        url: serviceURL,
                        data: JSON.stringify(dataToSend),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: GetInit,
                        error: errorFunc,
                        complete: ocultarGIF
                    });
                    // } else {
                    //      toastr["info"]("@Language.operacionCancelada")
                    // }
                },
                cancel: function () {
                    toastr["info"]("@Language.operacionCancelada");
                }
            });
        });



        //efectos
        var map = { 18: false, 71: false };
        $(document).keydown(function (e) {
            if (e.keyCode in map) {
                map[e.keyCode] = true;
                if (map[18] && map[71]) {
                    $('body').addClass("giro");
                    setTimeout(function () { $('body').removeClass("giro"); }, 3500);
                }
            }
        }).keyup(function (e) {
            if (e.keyCode in map) {
                map[e.keyCode] = false;
            }
        });


    </script>




    @RenderSection("EndScript", false)


    @*Idiomas*@
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/globalize/globalize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script type="text/javascript" src="@Url.Content(string.Format("~/Scripts/globalize/cultures/globalize.culture.{0}.js", CultureHelper.GetCurrentCulture()))"></script>
    @if (CultureHelper.GetCurrentNeutralCulture() != "en")
    {
        //<script type="text/javascript" src="@String.Format("http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_{0}.js", CultureHelper.GetCurrentNeutralCulture())"></script>    
        <script type="text/javascript" src="~/Scripts/messages_es.js"></script>
    }
    <script type="text/javascript" src="@Url.Content("~/Scripts/Code52.i18n.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("/i18n/Code52.i18n.language.js")"></script>*@
    <script type="text/javascript">
        Code52.Language.Init('@CultureHelper.GetCurrentCulture()');    
    </script>



    <div id="google_translate_element"></div><script type="text/javascript">
                                                 function googleTranslateElementInit() {
                                                     new google.translate.TranslateElement({ pageLanguage: 'es', layout: google.translate.TranslateElement.FloatPosition.BOTTOM_LEFT }, 'google_translate_element');
                                                 }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</body>
</html>
