@using TFITest4.Code52.i18n
@using TFITest4.Resources
@using System.Web.Optimization

<div id="MainMenu" class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/">IID &nbsp;<span class="glyphicon glyphicon-home"></span></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            @if (Session["usuario"] != null)
                            {
                                <a href="/Login/CerrarSesion" class="">@Language.logout</a>
                            }
                            else
                            {
                                <a id="aLogin" href="" data-toggle="modal" data-target="#login-modal">@Language.inicioSesion</a>
                            }
                        </li>
                        @if (Session["usuario"] == null)
                        {
                            <li>
                                @Html.ActionLink(@Language.registro, "RegisterOut", "Account")
                            </li>
                        }
                        @if (Session["usuario"] != null)
                        {
                            if (Session["grupo"].ToString() == "Externo")
                            {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Language.pedido<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink(@Language.compre, "Index", "Pedido")
                                    </li>
                                    <li>
                                        @Html.ActionLink(@Language.pedido+"s", "Pedido", "Pedido")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Pre" + @Language.pedido+"s", "Prepedidos", "Pedido")
                                    </li>
                                </ul>
                            </li>
                            }
                            if (Session["grupo"].ToString() == "Creditos y Cobranzas")
                            {
                                <li class="docPendientes">
                                    @Html.ActionLink(@Language.analizar, "Controlar", "Pedido")
                                </li>   
                            }
                            if (Session["grupo"].ToString() == "Comercial")
                            {
                                <li class="docPendientes">
                                    @Html.ActionLink(@Language.facturar, "Facturar", "Pedido")
                                </li>
                            }
                        }
                        <li class="dropdown">
                            <a href="#" id="configuracion" class="dropdown-toggle" data-toggle="dropdown">@Language.MenuConfiguracion<strong class="caret"></strong></a>

                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink(@Language.clientes, "Index", "Cliente")
                                </li>
                                <li>
                                    @Html.ActionLink(@Language.producto+"s", "Index", "producto")
                                </li>
                                <li class="dropdown-submenu">


                                    <a tabindex="-1" href="#">@Language.lugares</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.ActionLink("Pais", "Index", "Pais")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Provincia", "Index", "Provincia")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Localidad", "Index", "Localidad")
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="#">Even More..</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">3rd level</a></li>
                                                <li><a href="#">3rd level</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    @Html.ActionLink(@Language.usuario+"s", "Index", "Usuarios")
                                </li>

                                <li class="dropdown-submenu">


                                    <a tabindex="-1" href="#">@Language.precios</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.ActionLink(@Language.listaPrecios, "Index", "ListaPrecio")
                                        </li>
                                        <li>
                                            @Html.ActionLink(@Language.listaDetalle, "Index", "PrecioDetalle")
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    @Html.ActionLink(@Language.bitacora, "Index", "Bitacora")
                                </li>

                            </ul>
                        </li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        <li id="CarritoMenuBoton" class="oculto">
                            <a id="cart-popover" class="btn" data-placement="bottom" title="@Language.carritoCompras">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span class="CarritoSubtotal"></span>
                            </a>
                        </li>
                        <li class="dropdown">
                            @if (Session["usuario"] != null)
                            {
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="nombre_usuario" data-val="@Session["usuario"]">@Language.usuario: @Session["usuario"]</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a>Tipo Usuario: <span>@Session["grupo"].ToString()</span></a>
                                    </li>
                                    @if (Session["_ip"] != null)
                                    {
                                        <li>
                                            <a href="#">IP: @Session["_ip"].ToString()</a>
                                        </li>
                                    }
                                    <li>
                                        @Html.ActionLink(@Language.CambiarPass, "ChangePass", "Account")
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <a href="#" id="nombre_usuario" data-val="Invitado">@Language.usuario: @Language.Invitado</a>
                            }
                        </li>
                        <li class="dropdown" style="width:150px;" id="i18n-options-container">
                            <a class="dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">@Language.MenuIdioma<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <div class="language language_ES">
                                        <a title="Español" class="es-AR" href="#">Español</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="language language_EN">
                                        <a title="English" class="en-GB" href="#">English</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a><img id="microfono" alt="Start"  src="/Content/images/mic.gif"></a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
</div>


<div data-toggle="popover" id="popover_content_wrapper" style="display: none">
    <p>@Language.carrito @Language.vacio!</p>
    <div>
        <h5>Subtotal:  <span class="CarritoSubtotal"></span></h5>

        <a href="#" id="VerCarrito" class="btn btn-primary">
            <span class="glyphicon glyphicon-shopping-cart"></span>@Language.ver @Language.carrito
        </a>
        <a href="#" id="LimpiarCarrito" class="btn btn-default">
            <span class="glyphicon glyphicon-trash"></span>@Language.limpiar
        </a>

    </div>
</div>

@if (Session["usuario"] != null)
{
    <input id="LoginExiste"  data-val="@Session["grupo"].ToString()" type="hidden" value="1" /> 
}
else
{
    <input id="LoginExiste" data-val="" type="hidden" value="0" />   
}

