@model IEnumerable<BIZ.BIZBitacora>
@using TFITest4.Resources

<script type="text/javascript">
    if (document.getElementById('LoginExiste').getAttribute("data-val") != "Administrador") {
        window.location = "/Login/Error"
    }
</script>



<h2 class="titulo">@Language.bitacora</h2>

<table class="table tableJqueryBit dt-responsive nowrap table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            @*        <th>
            @Html.DisplayNameFor(model => model.IDBitacora)
        </th>*@
            <th>
                @Language.fecha
            </th>
            <th>
                @Language.tipo
            </th>
            <th>
                @Language.descripcion
            </th>
            <th>
                @Language.usuario
            </th>
            <th>
                IP
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {   
            
            <tr class="@item.Tipo">
                @*        <td>
            @Html.DisplayFor(modelItem => item.IDBitacora)
        </td>*@
                <td>
                    @item.Fecha.ToString("dd/MMM/yyyy HH:mm", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @if (item.Usuario == null)
                    {
                        <span>Invitado</span>
                    }
                    else
                    { 
                        @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IP)
                </td>
            </tr>
        }
    </tbody>
</table>
@section readyEnding {
    @* tabla
        .order([0, 'desc'])
        .draw();*@

        $('.Informativo').css("color", "green");
        $('.Error').css("color", "red");
        $('.Advertencia').css("color", "orange");
        var urlDTLang = "";
        if ($('#ActualCulture').val() == "esp") {
            //urlDTLang = '/Scripts/Spanish.json';
            moment.locale('es');
            urlDTLang = 'http://cdn.datatables.net/plug-ins/1.10.9/i18n/Spanish.json';
        }

        $.fn.dataTable.moment('DD/MMM/YYYY HH:mm');


        setTimeout(function () {
            $('.tableJqueryBit').dataTable({
                language: {
                    url: urlDTLang,
                },
                        "order": [[0, "desc"]]
            })
            },500);



    @*    $('.tableJquery').on( 'draw.dt', function () {
        $('.Informativo').css("color", "green");
        $('.Error').css("color", "red");
        $('.Advertencia').css("color","orange");
} );*@
}


