@model IEnumerable<TFITest4.Models.ModelUsuario>
@using TFITest4.Resources

<script type="text/javascript">
    tipoUserGroup = document.getElementById('LoginExiste').getAttribute("data-val");
    console.log(tipoUserGroup);
    if (tipoUserGroup != "Comercial" && tipoUserGroup != "Administrador") {
        window.location = "/Login/Error"
    }
</script>

<h2 class="titulo">@Language.usuario</h2>




<p>
    @Html.ActionLink("Create New", "RegisterIn", new { }, new { @class = "btn btn-primary", @style = "color:white" })
</p>
<div class="medio col-md-5"></div>
<div class="medio col-md-2">
<p id="statusSelect" style="margin-top: -36px;"></p>
 </div>
<div style="clear:both"></div>
<table class="table tableJqueryUser table-bordered dt-responsive nowrap table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Language.codigo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario1)
            </th>
            <th>
                @Language.estado
            </th>
            <th>
                @Language.empresa
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Language.fechaAlta
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDTipoUsuario)
            </th>
            <th>@Language.action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: right">
                    @Html.DisplayFor(modelItem => item.IDUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoMisc.Detalle)
                </td>
                <td>
                    @if (item.ClienteEmpresa != null)
                    {
                        @Html.DisplayFor(modelItem => item.ClienteEmpresa.Nombre)
                    }
                    else
                    {
                        <span>Usuario Local</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @item.FechaAlta.ToString("dd/MMM/yyyy HH:mm", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoUsuario.Tipo)
                </td>
                <td>
                    @Html.ActionLink(@Language.editar, "Edit", new { id = item.IDUsuario }, new { @class = "btn btn-primary", @style = "color:white" })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                @Language.codigo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario1)
            </th>
            <th>
                @Language.estado
            </th>
            <th>
                @Language.empresa
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Language.fechaAlta
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDTipoUsuario)
            </th>
            <th>@Language.action</th>
        </tr>
    </tfoot>
</table>


@section endScript {

    <script>

        var urlDTLang = "";
        if ($('#ActualCulture').val() == "esp") {
            //urlDTLang = '/Scripts/Spanish.json';
            moment.locale('es');
            urlDTLang = 'http://cdn.datatables.net/plug-ins/1.10.9/i18n/Spanish.json';
        }

        $.fn.dataTable.moment('DD/MMM/YYYY HH:mm');
        //setTimeout(function () {
        //    tabla = $('.tableJqueryUser').DataTable({

        //        language: {
        //            url: urlDTLang,
        //        }
        //    }).columnFilter();

        //}, 1000);

        setTimeout(function () {
            $('.tableJqueryUser').dataTable({
                language: {
                    url: urlDTLang,
                }
            })
            .columnFilter({
                aoColumns: [null,
                         null,
                         null,
                         { sSelector: "#statusSelect", type: "select" },
                        null,
                        null
                ]

            });
        }, 1000);




        //$('#example').DataTable({
        //    initComplete: function () {
        //        this.api().columns().every(function () {
        //            var column = this;
        //            var select = $('<select><option value=""></option></select>')
        //                .appendTo($(column.footer()).empty())
        //                .on('change', function () {
        //                    var val = $.fn.dataTable.util.escapeRegex(
        //                        $(this).val()
        //                    );

        //                    column
        //                        .search(val ? '^' + val + '$' : '', true, false)
        //                        .draw();
        //                });

        //            column.data().unique().sort().each(function (d, j) {
        //                select.append('<option value="' + d + '">' + d + '</option>')
        //            });
        //        });
        //    }
        //});


    </script>

}